.container {
  font-size: 14px;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
  }
}

.box {
  background: lightgray;
  padding: 20px;
  margin: 5px;
}
