.profile-card{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: black;
    color: bisque;
    padding: 100px 70px;
    border: 5px solid blue;
    box-sizing: border-box;
}