.product-card {
  background: white;
  padding: 20px;
  width: 200px;
  opacity: 0;
  transform: scale(0.95);
  animation: fadeIn 1s forwards;
  transition: transform 0.3s;
  border: 1px solid #ccc;
}

.product-card:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
