.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background: lightblue;
  padding: 20px;
  flex: 1;
  min-width: 150px;
}

@media (max-width: 600px) {
  .cards {
    flex-direction: column;
  }
}
